<h1>Basic Scope</h1>
<p>"Scope is not the model.. it is just a reference to what's happening [inside the dom]".
So scope is what you assign models to, not the model itself.
<a href="www.egghead.io/video/DTx23w4z6Kc">egghead.io tutorial</a>
</p>

<h1>Root Scope</h1>
<p>Root scope sits at the top of the scope inheritance, changes to this model 
<emphasis>can</emphasis> be reflected across all other
application scopes which are children of the root scope.</p>

<div class="label">Plain Variable</div>
<div class="input"> <input type="text" ng-model="plainvar"/></div>
<div class="output"> {{plainvar}} </div>

<div class="label">Model Variable</div>
<div class="input"><input type="text" ng-model="model.var"/></div>
<div class="output">{{model.var}}</div>

<div ng-controller="BasicCtrl">
<h2>Controller Scope</h1>
<p>Controller scopes are children of root scope, and variables not found local
will be pulled from parent scopes all the way back to root.</p>

<div class="label">Plain Variable</div>
<div class="input"> <input type="text" ng-model="plainvar"/></div>
<div class="output"> {{plainvar}} </div>
<p>Plain variables are limited to current scope, inheritance stops as soon as 
variable is declared in the controller scope</p>

<div class="label">Model Variable</div>
<div class="input"><input type="text" ng-model="model.var"/></div>
<div class="output">{{model.var}}</div>
<p>Model variables maintain inheritance, as it's the model value that changes not
scope reference, and the model is declared at root scope.</p>
</div>
